#orange {
  background-color: orange;
}

#apple {
  background-color: salmon;
}

#grape {
  background-color: blueviolet;
}

.stack {
  text-align: center;
  border: 1px solid lightgray;
  padding: 10px;
}

.button-act {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: violet;
}

#output-stack {
  background-color: white;
}

.stack {
div, span {
  color: white;
}
}

span b {
  font-size: 16px;
}

.stack-item {
  border: 1px solid lightgray;
}
